<!doctype html>
<title>Office Hours App</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--these two js enables the sortable function(the fancy dragging around)-->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script>window.jQuery || document.write('<script src="{{
   url_for('static', filename='jquery-1.10.2.js') }}">\x3C/script>') </script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.TAreorder').sortable({
      axis: 'y',
      stop: function(event, ui){
        var data = $(this).sortable('toArray');
        console.log(data);
        $.ajax({
          url: "{{ url_for('reorder_entry') }}",
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify(data, null, '\t'),
          type: "POST",
          success: function(){console.log("success");}
        });
      }
    });
  });
</script>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Welcome to Office Hours</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in <span class="glyphicon glyphicon-log-in"></span></a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out <span class="glyphicon glyphicon-log-out"></span></a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>